[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
"bs4" = "*"
requests = ">=2.20.0"
lxml = "*"
pytz = "*"
rsa = "*"
pillow = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"flake8" = "*"
responses = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
ipython = "*"
travis-sphinx = "*"
