[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
"bs4" = "*"
pillow = "*"
requests = "*"
lxml = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"flake8" = "*"
responses = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
