beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
idna==2.6
lxml==4.1.1
matplotlib==2.1.1
numpy==1.13.3
olefile==0.44
Pillow==4.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
urllib3==1.22
